/* Reset */
html {
  font-size: inherit;
}

body {
  font-family: 'Open Sans', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

html,
body {
  margin: 0;
}

a {
  transition-duration: .2s;
  color: #000;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: #000;
  outline: none;
  box-shadow: none;
}

img {
  width: 100%;
}

pre {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: .8rem;
  border-radius: 2px;
}

code {
  color: #2980b9;
  background-color: #e0effa;
  border-radius: 2px;
}

h1, h2, h3, h4, h5 ,h6 { margin: 0; }
h1 { font-size:1.8rem; }
h2 { font-size:1.6rem; }
h3 { font-size:1.1rem; }
h4 { font-size:.8rem; }
h5 { font-size:.7rem; }

@media (max-width:767px) {
  h1 { font-size:1.6rem; }
  h2 { font-size:1.4rem; }
  h3 { font-size:1.1rem; }
  h4 { font-size:.8rem; }
  h5 { font-size:.7rem; }
}

/* Original */
header.site {
  padding: 50px 0;
  text-align: center;
  font-size: 2rem;
}

header.site a {
  color: #2d3f52;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}

.single article h1,
.single article h2,
.single article h3,
.single article h4,
.single article h5,
.single article h6 {
  color: #000;
}

.single article h1:first-child,
.single article h2:first-child,
.single article h3:first-child,
.single article h4:first-child,
.single article h5:first-child,
.single article h6:first-child {
  margin-top: 0;
}

.index h1,
.single article h1 {
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.single article h1 a { color: #000; text-decoration: none; }

.single article h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.single article h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 900;
}

.single article .body {
  word-wrap: break-word;
  line-height: 2rem;
  max-width: 700px;
  margin: 0 auto;
}

.single article .body ul,
.single article .body ol {
  background-color: #ecf0f1;
  border-radius: 2px;
  display: inline-block;
  padding: 15px;
  padding-left: 30px;
}

.single article .body ul li,
.single article .body ol li {
  font-size: .8rem;
  line-height: 1.5rem;
}

.single article .body {
  margin-bottom: 50px;
}

.single article .body p {
  margin-bottom: 10px;
}

.single article .body blockquote {
  position: relative;
  font-size: .8rem;
  border: none;
  background-color: #ecf0f1;
  border-radius: 2px;
  padding: 15px;
}

.single article .body blockquote:before {
  position: absolute;
  content: '\f10e';
  font-family: Fontawesome;
  top: -10px;
  left: -5px;
  font-size: 1rem;
  color: #3a5168;
}

.single article .body blockquote p {
  line-height: 1rem;
  margin: 0;
}

/* Original:Footer */
#site-footer {
  padding: 100px 0;
}

/* Parts */
.tag a,
time {
  color: #bdc3c7;
}

.tags .tag a {
  white-space: nowrap;
}

article.li {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 700px;
}
article.li a {
  display: block; text-decoration: none;
}
article.li .summary {
  word-wrap: break-word;
  margin: 0 auto;
}

/* Override */

/* Helper */
.container {
  max-width: 900px;
}
