/* Reset */
html {
  font-size: inherit;
}

body {
  font-family: 'Open Sans', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

html,
body {
  margin: 0;
}

a {
  transition-duration: .2s;
  color: #000;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: #000;
  outline: none;
  box-shadow: none;
}

img {
  width: 100%;
}

pre {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: .8rem;
  border-radius: 2px;
}

code {
  color: #2980b9;
  background-color: #e0effa;
  border-radius: 2px;
  font-size: .8rem;
}

h1, h2, h3, h4, h5 ,h6 { margin: 0; }
h1 { font-size: 1.6rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.1rem; }
h4 { font-size: 1rem; }
h5 { font-size: 1rem; }

time {
  text-transform: uppercase;
}

/* Original */
header.site {
  padding: 50px 0;
}

header.site .logo {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
}

nav.site {
  padding-bottom: 50px;
}

.single article h1,
.single article h2,
.single article h3,
.single article h4,
.single article h5,
.single article h6 {
  color: #000;
}

.single article h1:first-child,
.single article h2:first-child,
.single article h3:first-child,
.single article h4:first-child,
.single article h5:first-child,
.single article h6:first-child {
  margin-top: 0;
}

.index h1,
.single article h1 {
  margin: 0;
}

.single article h1 a { color: #000; text-decoration: none; }

.single article h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.single article h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 900;
}

.index header,
.single header {
  margin-bottom: 50px;
}

.single article .body {
  word-wrap: break-word;
  line-height: 2rem;
  max-width: 700px;
}

.single article .body ul,
.single article .body ol {
  background-color: #f5f5f5;
  border-radius: 2px;
  display: inline-block;
  padding: 15px;
  padding-left: 30px;
}

.single article .body ul li,
.single article .body ol li {
  font-size: .8rem;
  line-height: 1.5rem;
}

.single article .body {
  margin-bottom: 50px;
}

.single article .body img {
  max-width: 400px;
  border: 1px solid #eee;
  border-radius: 2px;
}

.single article .body p {
  margin-bottom: 10px;
}

.single article .body blockquote {
  position: relative;
  font-size: .8rem;
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.single article .body blockquote:before {
  position: absolute;
  content: '\f10d';
  font-family: Fontawesome;
  top: -10px;
  left: -5px;
  font-size: 1.5rem;
  color: #eee;
}

.single article .body blockquote p {
  line-height: 1rem;
  margin: 0;
}

/* Original:Footer */
#site-footer {
  padding: 100px 0;
  font-size: .8rem;
}

/* Parts */
.tag a,
time,
.section {
  color: #aaa;
  font-size: .8rem;
}

.section {
  text-transform: uppercase;
}

.tags .tag a {
  white-space: nowrap;
  margin-right: 5px;
}

article.li {
  margin-bottom: 20px;
}

article.li a {
  text-decoration: none;
}

article.li .title {
  font-size: 1rem;
}

/* Dev */
article.draft .title,
article.draft .title a {
  color: #3498db;
}

/* Override */

