/* Reset */
html {
  font-size: inherit;
}

body {
  font-family: "PT Sans", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 12px;
}

a,
a:hover,
a:focus,
a:active {
  color: #000;
  text-decoration: underline;
  outline: none;
  box-shadow: none;
}

img {
  width: 100%;
}

blockquote {
  font-size: .8rem;
  border: none;
  background-color: #fafafa;
  border-radius: 2px;
}

pre {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: .7rem;
  border-radius: 2px;
}

/* Original */
#site-header {
  background-color: #fff;
}

#site-header .logo {
  color: #000;
  text-decoration: none;
}

#posts {
  margin-bottom: 20px;
}

article {
  margin: 30px 0;
}

.post-date {
  font-size: 1rem;
}

.post-title {
  font-size: 1.1rem;
  font-weight: 900;
  margin: 0;
}

.post-title a {
  text-decoration: none;
}

.post-separator:after {
  font-family: FontAwesome;
  content: "\f1b2\f1b2\f1b2";
  font-size: .8rem;
  letter-spacing: 1rem;
  color: #ddd;
}

#post .post-title {
  margin-bottom: 40px;
}

.body {
  font-size: .8rem;
  line-height: 2rem;
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5 {
  font-weight: 900;
  margin-top: 30px;
}

.body h1 { font-size: 1.2rem; }
.body h2 { font-size: 1.1rem; }
.body h3 { font-size: 1rem; }
.body h4 { font-size: .9rem; }
.body h5 { font-size: .8rem; }

.body img {
  max-width: 700px;
  border: 1px solid #fafafa;
}

#site-footer {
  padding: 50px 0 100px 0;
}

/* Override */

/* Helper */
.font-logo {
  font-family: 'Handlee', cursive;
}

