.post-ad {
    margin-bottom: 20px;
    text-align: center;
}

.footer-ad {
    text-align: center;
    margin-bottom: 30px;
}

.sp {
    display: none;
}

@media (max-width: 38rem) {
    .post-title:after {
        content: "";
        clear: both;
        display: block;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

}
